@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root{
    font-family: Raleway, Arial, Helvetica, sans-serif;
}
body {
   margin: 0;
   padding: 0;
}

/* /////////////////////   CONTAINER    /////////////////////////// */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    /* grid-gap: 2px; */
    height: 100vh;
    width: 100%;
}


/* /////////////////////   HEADER    /////////////////////////// */
header {
    display: flex;
    z-index: 1;
    position: fixed;
    width: 100%;
    /* max-width: 700px; */
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    background-color:lightseagreen;
    /* border: solid 1px red; */
}

header .logo {
    margin-left: 10px;
}

header h4 {
    color: white;
    margin-right: 10px;
}

.busca-logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buscador {
    margin-right: 20px;
    background-color: white;
    font-size: 14px;
    color: black;
    box-shadow: 0;
    border: 0;
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

.logo-logout {
    height: 36px;
    margin-right: 15px;
    
}


/* /////////////////////   MAIN    /////////////////////////// */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 1px blueviolet; */
    height: 100%;
    width: 100%;
    background-color: #11171c;
}

section {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    
    
}  


/* /////////////////////   INFO    /////////////////////////// */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 30px;
    margin-top: 40px;
    /* border: solid 1px pink; */
}

.titulo {
    color: white;
    font-family: 'Raleway';
    font-size: 2rem;
}


.datos {
    margin-top: 50px;
    width: 90%;
    text-align: justify;
    color: white;
    ;

}

.sinopsis {
    padding: 0;
    margin: 0;
}




/* /////////////////////   ACTORS    /////////////////////////// */



.cabecera-latest {
    color: white;
    font-size: 1.5rem;
    margin-top: 50px;
}

.titulo-actores {
    font-size: 1.7rem;
    color: white
}


.actors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1200px;
    margin-top: 2px;
    margin-bottom: 100px;
    /* border: solid blue 1px; */

}

.latest-content {
    margin-top: 50px;
    
}

 .actors img {
   height: 166px;
    width: 296px;
} 

.latest-content {
    position: relative;
    
}
.title {
    color: #019b6a;
    background: black;
    width: 100%;
    height: 30px;
    
}

.latest-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: none;

}

.latest-content:hover .latest-info {
    display: inherit;
    background-color: rgba(0, 0, 0,.3);

}

.latest-content:hover .latest-info {
    display: inherit;

}

.latest-content:hover .description {
    color: white;
}


.latest-content:hover img {
    opacity: .2;
}






/* /////////////////////   RELATED    /////////////////////////// */
.titulo-related {
    font-size: 1.7rem;
    color: white
}

.related {
    margin-top: 20px;
    margin-bottom: 100px;
}
